
.colorPickerUI{
padding: 2em;
}
.colorPicker{
margin: auto;
/* cursor:url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/index-pointing-up_261d-fe0f.png) 90 0, auto; */
cursor: grab;
}
.colorPicker:active{
  cursor: grabbing;
}
.swatch {
    height: 4em;
    width: 4em;
    border-radius: 100%;
    border: 0.2em solid black;
    margin: 0.5em;
  }

  .colorHex{
    text-align: center;
    display: block;
  }

  .colorActive{
      text-align: left;
      padding-left: 1em;
  }

  #activeColor{
      display: none;
  }

  #colorList {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: auto;
    cursor:grab;
  }
  #colorList:active{
    cursor: grabbing;
  }
  
  .currentDrawing{
    margin: auto;
    cursor:url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/crayon_1f58d-fe0f.png) 0 120, auto;
  }
   /* .saveButton{
     transition: ease 1s;
    width: 10%;
    margin: auto;
    cursor: wait;
} */
   .saveButton:active{
cursor: progress;
       }
       .saveButton:hover{
        transform: scale3d(1.2,1.2,1.2);
               }
  /* li {
      flex: 1;
  }
    .readout {
    margin-top: 32px;
    line-height: 180%;
  }
  .link {
    margin-top: 16px;
    
  }
   */